@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #57a5ff;
  --color-codehub-green: #238636;
  --color-codehub-panel: #161b22;
  --color-background-light: #f5f7f8;
  --color-background-dark: #0f1823;

  --font-mono: "JetBrains Mono", monospace;
  --font-display: "Space Grotesk", sans-serif;
}
